@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

:root {
    --bg-color: whitesmoke;
    --text-color: #222;
    --white-text: #fff;
    --blue-btn: dodgerblue;
    --blue-btn-drk: #1b81ef;

    --test: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    line-height: 1;
    font-family: 'NTR', sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
}

/*  Testing purposes only! */
/* .hidden {
    display: none;
} */

/* LANDING */
.landing {
    text-align: center;
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    max-width: 1000px;
    padding: 100px 50px;
}

.landing p {
    text-align: center;
    font-size: 1.2rem;
}

.start-btn {
    margin: 50px;
    background-color: var(--blue-btn);
    border: 1px solid var(--blue-btn);
    color: var(--white-text);
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: bold;
}

.start-btn:hover {
    transform: scale(0.98);
    background-color: var(--blue-btn-drk);
}

/* HEADER */
.header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    background: var(--blue-btn);
    border-bottom: 1px solid var(--blue-btn);
    box-shadow: 0 0 10px gray;
}

.header a {
    color: var(--white-text);
}

.header div {
    color: var(--white-text);
}


/* MAIN */
.main-container {
    height: auto;
    align-items: center;
    justify-content: center;
}

.main-card {
    width: 75%;
    height: 300px;
    padding: 10px;
}

.main-card-body {
    margin-top: 10px;
    margin-bottom: 20px;
}

.answer-container {
    display: flex;
    width: 500px;
    border: 1px solid var(--blue-btn);
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 2px 3px 5px gray;
    transform: translateY(-2px);
}

.choice-prefix {
    padding: 5px 15px;
    color: var(--white-text);
    background-color: var(--blue-btn);
}

.choice-text {
    padding: 5px;
}

.center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

